html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		script(src='/javascript/search.js' type='text/javascript')
		title Lab1
	body
		a(href ="/") Back to Main Menu
		br
		br
		label(for ="search") Search Query :
		input#search(type='text' name='search')
		br
		br
		label(for ="maxVal") Maximum Pages to search (Defaut : 10):
		input#maxVal(type='text' name='maxVal')
		br
		br
		label(for='boost') Boost:
		select#boost(name='boost')
			option(value='true') True
			option(value='false') False
		br
		br
		div#invalidText(style="display:none") Invalid search query or max page number
		button(type='submit' onclick= "personalsearch()") Search
